.container {
  margin-top: 3rem;
}

.collageImage {
  width: 100%;
  height: 100%;
  min-width: 357px;
  min-height: 357px;
  padding: 5rem;
  /* max-width: 1000px;
  max-height: 1000px; */
}

.textParentContainer {
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: inline-flex;
  padding-bottom: 0;
}

.headerText {
  float: inline-start;
}

.hr {
  position: relative;
  width: 200px;
  border: 2px solid #de6fa1;
  border-radius: 2px;
  background-color: #de6fa1;
  margin-bottom: 4rem;
}

.hr2 {
  position: relative;
  width: 70px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.zzImage {
  float: inline-end;
  margin-left: 1rem;
}

.pattern {
  width: 10rem;
}

.visitAppContainer {
  display: inline-flex;
  position: relative;
}
